@page "/"
@using tawmy.dev.Services
@inject DataService DataService

<PageTitle>Tawmy</PageTitle>

<div class="grid grid-cols-[10rem,_auto] gap-y-16 pt-10 pr-4 pb-10
        md:grid-cols-[10rem,_12rem,_1fr]
        lg:grid-cols-[10rem,_auto,_1fr]">
    <div class="flex flex-col items-end max-w-fit">
        <h1 class="relative text-9xl [writing-mode:vertical-lr] font-bold -scale-100
            before:absolute before:content-['software_developer'] before:top-24 before:right-2.5 before:text-2xl before:font-normal
            after:absolute after:content-['Tawmy'] after:-z-10 after:-left-1 after:-bottom-1 after:text-red-500 after:[-webkit-text-stroke:_2px_black]">
            Tawmy
        </h1>
        <div class="relative size-28
            before:absolute before:-bottom-3 before:-left-3 before:h-14 before:w-full before:border-b-8 before:border-l-8 before:border-red-500
            after:absolute after:-bottom-2 after:-left-2 after:h-14 after:w-full after:border-b-8 after:border-l-8 after:border-black
            ">
            <img src="avatar.webp" alt="Avatar" class="size-full"/>
        </div>

    </div>
    <div class="flex flex-col gap-12 max-w-64">
        @foreach (var section in DataService.GetIntroductions())
        {
            <CategoryList Header="@(section.Title.ToUpperInvariant())" Entries="@(section.Entries)"/>
        }
    </div>
    <div class="grid gap-12 col-span-2 pl-4
        md:col-span-1
        lg:pl-20
        xl:pl-32">
        @foreach (var projectCategory in DataService.GetProjects())
        {
            <Section Header="@(projectCategory.Title.ToUpperInvariant())">

                @foreach (var project in projectCategory.Entries)
                {
                    <div class="pb-4">
                        <Project Entry="project"></Project>
                    </div>
                }
            </Section>
        }
        <div class="flex justify-center [&>*]:flex-shrink-0 [&_div]:gap-4 [&_*]:overflow-visible
            md:justify-normal md:[&_div]:gap-6">
            <Section Header="LET'S CONNECT!">
                @foreach (var socialLink in DataService.GetSocials())
                {
                    <SocialLink Entry="socialLink"/>
                }
            </Section>
        </div>
    </div>
</div>