<section class="grid gap-8">
    <h2 class="text-3xl font-bold">@Header</h2>
    <div class="flex gap-8 overflow-x-auto
        [&>*]:flex-shrink-0 [&>*]:max-w-52">
        @ChildContent
    </div>
</section>

@code{
    [Parameter] public required string Header { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
}