<a href="@Entry.Url" class="relative flex flex-col gap-4 items-center w-16 h-16 p-2 bg-black rounded-full text-center
    after:absolute after:top-0 after:left-0 after:w-full after:h-full after:border-2 after:border-black after:rounded-full after:duration-700
    hover:after:scale-125 hover:after:duration-200">
    <img src="@Entry.IconUrl" alt="@Entry.Title Icon" class="w-full grayscale brightness-[100]"/>
    <div>@Entry.Title</div>
</a>

@code {

    [Parameter] public required SocialLinkEntry Entry { get; set; }

    public readonly record struct SocialLinkEntry(string Title, string Url, string IconUrl);

}